<% @page_title = 'Add Feature' %>
<h2><%= @page_title %></h2>
<% form_for(:feature, :url => {:action => 'create'}) do |f| %>
    <%= render (:partial => 'form', :locals => {:f => f}) %>
    <%= submit_tag("Add Feature") %> | <%= link_to('Back', {:action => 'list'}, {:class => 'back-button'}) %>

<% end %>
