<%= error_messages_for(@publisher) %>
<table>
  <tr>
    <td><span class="title">Name: </span></td><td><%= f.text_field(:publisher) %></td>
  </tr>
  <tr>
    <td><span class="title">Image: </span></td><td><%= f.text_field(:image_path) %></td>
  </tr>
</table>
