<% @page_title = 'Delete Customer' %>
<h2><%= @page_title %></h2>
<% form_for(:customer, :url => {:action => 'destroy', :id => @customer.id}) do |f| %>
    <p>Are you sure you want to permanently delete <%= @customer.first_name+' '+@customer.last_name %>?</p>
    <%= submit_tag("Delete Customer") %> | <%= link_to('Back', {:action => 'list'}) %>

<% end %>
